.contact-me {
  margin: auto;
  background-color: rgba(255,236,210, .5);
  border: 1px solid #51939D;

  transition:all 1s ease-out;
  height:300px;
  /*  transform:scaleY(1); */
  transform-origin:top;
}

.contact-me.collapsed {
  /*transform:scaleY(0);*/
  height:0;
  overflow: hidden;
}
