.contact-me {
  margin: auto;
  background-color: rgba(255,236,210, .3);
  border: 1px solid #51939D;

  transition:all 1s ease-out;
  height:450px;
  /*  transform:scaleY(1); */
  transform-origin:top;
  overflow: hidden;
}

.contact-me.collapsed {
  /*transform:scaleY(0);*/
  height:0;
  margin-top: -1px;
}

#ContactMeSection .container{
  display:flex;
  flex-direction: column;
  margin-top:20px;
}

#ContactMeSection .form-group{
  width: 90%;
  margin: auto;
  text-align: left;
  margin-bottom:10px;
  font-size:15px;
}


#ContactMeSection .item{
      width: 100%;
      padding: 10px 5px;
}

textarea{
  resize:none;
}

#ContactMeSection .submit-container {
  margin-top:30px;
}

#ContactMeSection .button {
    font-family: Futura, Helvetica, sans-serif;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    width: 200px;
    height:15px;
    margin:auto;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    color:white;
    background-color: #51939d;
    letter-spacing: 2px;
}


#ContactMeSection .button:hover {
  opacity: .9;
  background-color: #73979c;
}
