#EmilyHeader {
   display: flex;
    height: 50vh;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#EmilyHeader .left{
  order: 1;
  text-align: right;
  width: 30vw;
  color: white;
  font-size: 80px;
  margin-right: 20px;
}

#EmilyHeader .word {
  order:2
}

.heading{
  display:flex;
  flex-direction: row;
    justify-content: space-between;
}

.heading .title{
  order:1;
   margin-bottom: 15px;
}

.heading .buttons{
  order:2;
  align-self: flex-end;
  color:#f3eded;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading .buttons .button{
  transition-duration: 3s;
}

.heading .buttons:hover{
  color:#959fa0;
}

.button{
  font-family: Futura, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.detail-page .wrapper {
  width: 70vw;
  padding-top: 50px;
  margin: auto;
}

main{
  height:100%;
}

.App {
  height: 100%;
}

hr.blue-rule{
  border: 0;
  height: 1em;
  background: #51939d;
  display: block;
  clear: both;
  // margin-top: 3em;
  vertical-align: bottom;
  -webkit-margin-after: 0;
  padding: 0;
  // border-radius: 0.55em;
}

hr.blue-rule.bottom{
  margin-top: 1em;
}

h1.title {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 7em;
  margin: 0;
}

h2.sub-title {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2.5em;
  line-height: 1.25;
  margin: 0 0 1rem;
}

.detail-page p {
  font-size:2em;
}

* {
  font-family: 'Roboto', sans-serif;
}

.detail-page .greeting{
  font-size: 2.7em;
  margin-top: 1.5em;
  font-weight: 500;
  letter-spacing: 4px;
}

.network-block {
  font-weight: 700;
  line-height: 1.25;
  margin: 2rem 0 0rem 0;
  float:right;
}

.location-block {
  align-self: flex-end;
}

.bottom-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 0;
  width: 70vw;
  position: absolute;
}

.fa {
  border:none !important;
  color:black;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-size:60px;
  margin: 0 5px;
}

a > .fa:hover{
  color:#4b80c5;
}

.location-block .fa {
  font-size:30px;
}

.location-block p {
  display: inline;
  font-size: 2em;
}

.network-block > :first-child{
  margin-left:0px;
}

.network-block > :last-child{
  margin-right:0px;
}

@media only screen and (max-width: 1300px)
{

  h1.title{
    font-size:50px;
  }

  h2.sub-title{
    font-size:20px;
  }

  .detail-page .greeting{
      font-size:18px;
  }

  div.detail-page div.wrapper{
      /*width:100vw;
      max-width:auto;
      min-width:85vw;
      margin:1em;*/
  }

  .detail-page p {
    font-size:16px;
  }
}

@media only screen and (max-width: 1000px), only screen and (max-height: 600px)
{


}


/* animation play */
.fade-in
{
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 4s; /* Firefox < 16 */
       -ms-animation: fadein 4s; /* Internet Explorer */
        -o-animation: fadein 4s; /* Opera < 12.1 */
           animation: fadein 4s;
}

.fade-in-slow
{
  opacity: 0;
   -webkit-animation: fadein 4s forwards; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 4s forwards; /* Firefox < 16 */
       -ms-animation: fadein 4s forwards; /* Internet Explorer */
        -o-animation: fadein 4s forwards; /* Opera < 12.1 */
           animation: fadein 4s forwards;
           animation-delay: 4s;
}

/* fade in play */
.slide-left
{
   -webkit-animation: slide-in-left  4s ; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: slide-in-left  4s; /* Firefox < 16 */
       -ms-animation: slide-in-left  4s; /* Internet Explorer */
        -o-animation: slide-in-left  4s; /* Opera < 12.1 */
           animation: slide-in-left  4s;
}


/* fade in play */
.slide-down
{
   -webkit-animation: slide-down 4s ; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: slide-down  4s; /* Firefox < 16 */
       -ms-animation: slide-down  4s; /* Internet Explorer */
        -o-animation: slide-down  4s; /* Opera < 12.1 */
           animation: slide-down  4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   100% { right: 0; }
}


@keyframes slide-in-left {
  0%   { transform: translate( 500%, 0); }
  100% { transform: translate( 0%, 0); }
}

/* Firefox < 16 */
@-moz-keyframes slide-in-left {
  0%   { transform: translate( 500%, 0); }
  100% { transform: translate( 0%, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slide-in-left {
  0%   { transform: translate( 500%, 0); }
  100% { transform: translate( 0%, 0); }
}

/* Internet Explorer */
@-ms-keyframes slide-in-left {
  0%   { transform: translate( 500%, 0); }
  100% { transform: translate( 0%, 0); }
}

/* Opera < 12.1 */
@-o-keyframes slide-in-left {
  0%   { transform: translate( 500%, 0); }
  100% { transform: translate( 0%, 0); }
}


@keyframes slide-down {
  0%   { transform: translate( 0, -500%); }
  100% { transform: translate( 0%, 0); }
}

/* Firefox < 16 */
@-moz-keyframes slide-down {
  0%   { transform: translate( 0, -500%); }
  100% { transform: translate( 0%, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slide-down {
  0%   { transform: translate( 0, -500%); }
  100% { transform: translate( 0%, 0); }
}

/* Internet Explorer */
@-ms-keyframes slide-down {
  0%   { transform: translate( 0, -500%); }
  100% { transform: translate( 0%, 0); }
}

/* Opera < 12.1 */
@-o-keyframes slide-down {
  0%   { transform: translate( 0, -500%); }
  100% { transform: translate( 0%, 0); }
}
